<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <div class="row">
    <div>
      <%= settings_fields.number_field :lng, label: t("decidim.geo.content_blocks.fields.lng") %>
    </div>
    <div>
      <%= settings_fields.number_field :lat, label: t("decidim.geo.content_blocks.fields.lat") %>
    </div>
    <div>
      <%= settings_fields.number_field :zoom, label: t("decidim.geo.content_blocks.fields.zoom") %>
    </div>
  </div>
<% end %>

