<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="">
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>


<style>
  .leaflet-container {
    height: 640px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  
</style>

<div id="map" 
  data-config=<%= {default_locale: current_organization.default_locale, user_locale: (current_user.locale unless current_user.nil?)}.to_json %>>
</div>
<%= insert_map("HomePage", filters: [])
<%= javascript_pack_tag "decidim_geo" %>
