
<%= javascript_pack_tag "decidim_geo" %>

<%= content_tag :div, "", id: "DecidimGeoContainer", class: ["decidimGeo__container"] do %>
  <div class="decidimGeo__mobile_btn__mobile_btn">
    <span><%= t("decidim.geo.mobile.open_fullscreen") %></span>
  </div>

  <%= insert_map %>
<% end %>

