
<%= decidim_form_for(@form, html: { class: "form geo_config_form_admin" }) do |form| %>
  <%= render partial: "form", locals: { form: form, title: t(".title") } %>
  <div class="button--double form-general-submit">
    <%= form.submit t(".save") %>
  </div>
<% end %>

