<div style="position:absolute; width: 10px; height: 10px; background: blue"></div>
<%= cell("decidim/geo/content_blocks/geo_maps", current_organization, **collection_options) if participatory_space? %>