@mixin decidimGeo__customControl {
  display: block;
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 8px 6px;
  border-radius: 18px;
  border: 1px solid grey;
  color: grey;

  label {
    input {
      vertical-align: middle;
    }
  }
}

@mixin decidimGeo__clickableText {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
}

@mixin decidimGeo__border {
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0px 2px 4px 0px #00000014;
}

@mixin decidimGeo__meetingDateItem {
  text-align: center;
  color: #726a70;
  padding: 0.5em;
  margin-right: -1px;
  margin-top: -1px;
  border-top: 1px solid #e8e8e8;
}

.decidimgeo__map {
  @media (max-width: 640px) {
    display: none;
  }
}

.decidimGeo__customControl__parent {
  @include decidimGeo__customControl;
}

.decidimGeo__customControl__child {
  @include decidimGeo__customControl;
  margin-left: 12px;
}

.decidimGeo__scopesDropdown,
.decidimGeo__scopesDropdown.leaflet-control {
  @include decidimGeo__border;
  display: block;
  width: 300px;
  background: #fff;
  position: absolute;
  z-index: 9999;
}

.decidimGeo__scopesDropdown__heading {
  width: 100%;
  display: flex;
}

.decidimGeo__scopesDropdown__title {
  @include decidimGeo__clickableText;
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  &:after {
    display: inline-block;
    content: "\25BE";
    color: #0c0c0c;
    transform: rotate(-180deg);
    transition: 0.3s;
    margin-left: 4px;
  }

  &--button:after {
    display: none;
  }
  &--closed {
    &:after {
      transform: rotate(0);
    }
  }
  &--empty {
    &:after {
      display: none;
    }
  }
}

.decidimGeo__scopesDropdown__reset {
  @include decidimGeo__clickableText;
  padding: 8px 16px 8px 8px;
  float: right;
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: 0.2px;

  &.decidimGeo__scopesDropdown__reset--hidden {
    display: none;
  }
}
.decidimGeo__filterDropdown__container {
  position: relative;
}
.decidimGeo__filterDropdown__dropdown {
  width: 300px;
  height: auto;
  max-height: 400px;
  border-top: #cccccc 1px solid;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  transition: 0.3s;

  &--closed {
    width: 300px;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top: unset;
  }
}

.decidimGeo__filterDropdown__dropdown--open {
  display: block;
}
.decidimGeo__filterDropdown__title {
  @include decidimGeo__clickableText;
  padding: 8px 16px 8px 8px;
  float: right;
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  color: #3d393c;
  &:not(.decidimGeo__filterDropdown__title):hover,
  &.decidimGeo__filterDropdown__title--active {
    color: var(--primary);
  }
}
.decidimGeo__filterDropdown__title--disabled {
  opacity: 0.3;
}
.decidimGeo__filterDropdown__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 18px 8px;
}
.decidimGeo__filterDropdown__field {
  display: flex;
  justify-content: space-between;
}
.decidimGeo__filterDropdown__label {
  @include decidimGeo__clickableText;
  color: #1a181d;
  padding: 8px 16px 8px 8px;
  font-size: 14px;
}

.decidimGeo__filterDropdown__select,
.decidimGeo__filterDropdown__select:focus {
  margin-bottom: 0;
  max-width: 125px;
  border: 0;
  text-align: right;
  box-shadow: none;
  color: #1a181d;
}

.decidimGeo__filterDropdown__resetBtn,
.decidimGeo__filterDropdown__applyBtn {
  @include decidimGeo__clickableText;
  padding: 8px 16px;
  letter-spacing: 0.2px;
  color: #3d393c;
  text-transform: uppercase;
}
.decidimGeo__filterDropdown__applyBtn {
  color: var(--primary);
  float: right;
}

.decidimGeo__scopesDropdown__list,
.decidimGeo__drawer__list {
  width: 300px;
  height: auto;
  max-height: 400px;
  border-top: #cccccc 1px solid;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  transition: 0.3s;

  &--closed {
    width: 300px;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  &--hidden {
    display: none;
  }
}
.decidimGeo__scopesDropdown__listItem {
  @include decidimGeo__clickableText;
  display: block;
  margin: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.decidimGeo__drawer__list {
  transform: translateY(31px);
  padding: 4px 16px;
  background: #f0f0f0;
  box-shadow: 0px -1px 0px 0px #e0e0e0 inset;
  border-radius: 0px 0px 4px 4px;
  margin-top: -2px;

  &:empty {
    transform: translateY(0);
  }
}

.decidimGeo__drawer__listItem {
  @include decidimGeo__clickableText;
  display: block;
  margin: 6px 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.decidimGeo__emptyDrawer__container {
  text-align: center;
}
.decidimGeo__emptyDrawer__paragraph {
  padding: 24px 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 21.37px;
}
.decidimGeo__emptyDrawer__button {
  @include decidimGeo__clickableText;
  display: inline-block;
  margin: 0 8px;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.decidimGeo__drawer__listCardLoader {
  content: "";
  width: 100%;
  padding: 0 12px;
  background: #eee;
}

.decidimGeo__drawer__listCard {
  @include decidimGeo__border;
  display: block;
  background: #ffffff;
  width: 100%;
  overflow: hidden;
  margin: 12px 0;
  cursor: pointer;

  &:empty {
    height: 50px;

    background: #ffffff;
    background: linear-gradient(110deg, #ffffff 8%, #ececec 18%, #ffffff 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
}


.decidimGeo__drawer__listCardImg {
  display: inline-block;
  vertical-align: bottom;
  width: 69px;
  height: 69px;
  padding: 0;
  object-fit: cover;
  &.decidimGeo__drawer__listCardImg--large {
    width: 100%;
    height: 180px;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
  }
}

.decidimGeo__drawer__listCardInfo {
  display: inline-block;
  vertical-align: bottom;
  max-height: 69px;
  padding: 8px;
  width: calc(100% - 69px);
  &--image {
    padding-top: calc(180px + 16px);
  }
  &--large {
    max-height: none;
    width: 100%;
    position: relative;
  }
  &::after{
    display: table;
    content: "";
    clear: both;
    width: 100%;
    height: 0;
  }
}

.decidimGeo__drawer__listCardType {
  color: #808080;
  font-weight: bold;
  font-size: 11px;
  line-height: 13.83px;
  text-transform: uppercase;
}

.decidimGeo__drawer__listCardTitle {
  color: var(--primary);
  font-size: 17px;
  font-weight: 400;
  line-height: 21.37px;
  max-width: 192px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.decidimGeo__drawer__listCardDescription {
  color: #3d393c;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.6px;
  max-width: 192px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.decidimGeo__drawer__listCardDescription--large {
  color: #3d393c;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.6px;
  max-width: 192px;
  overflow: hidden;
  white-space: initial;
  text-overflow: initial;
}
a.decidimGeo__drawer__viewBtn {
  @include decidimGeo__clickableText;
  padding: 8px 16px;
  letter-spacing: 0.2px;
  color: #3d393c;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
}
.decidimGeo__scope__tooltip {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
  font-weight: bold;
}

.decidimGeo__popup__container {
  position: relative;
  width: calc(100% + 44px);
  left: -20px;
}

.decidimGeo__popup__content {
  padding: 0 0.75rem;
}

.decidimGeo__paragraph__overflow {
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.leaflet-tooltip-top.decidimGeo__scope__tooltip::before {
  border-top-color: transparent;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.decidimGeo__marker {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.35));
}
