.decidim__geo__container .js-decidimgeo.decidimgeo__map {
  .decidimGeo__scopesDropdown__list {
    @include decidimGeo__drawerContainer;
    width: 100%;
  }
  .decidimGeo__scopesDropdown,
  .decidimGeo__scopesDropdown.leaflet-control {
    @include decidimGeo__border;
    display: block;
    width: 300px;
    background: #fff;
    position: absolute;
    z-index: 9999;
  }

  .decidimGeo__scopesDropdown__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .decidimGeo__scopesDropdown__title {
    @include decidimGeo__clickableText;
    display: inline-block;
    padding: 8px 32px 8px 16px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:after {
      display: inline-block;
      content: "\25BE";
      color: #0c0c0c;
      transform: rotate(-180deg);
      transition: 0.3s;
      position: absolute;
      right: 16px;
      top: 7px;
    }

    &--button:after,
    &--alone:after {
      display: none;
    }
    &--alone {
      opacity: 0.6;
      cursor: unset;
    }
    &--closed {
      &:after {
        transform: rotate(0);
      }
    }
    &--empty {
      opacity: 0.6;
      cursor: unset;
    }
  }

  .decidimGeo__scopesDropdown__reset {
    @include decidimGeo__clickableText;
    padding: 8px 16px 8px 8px;
    float: right;
    text-transform: uppercase;
    font-family: $header-font-family;
    letter-spacing: 0.2px;

    &.decidimGeo__scopesDropdown__reset--hidden {
      display: none;
    }
  }

  .decidimGeo__scopesDropdown__listItem {
    @include decidimGeo__clickableText;
    display: block;
    margin: 8px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
