.decidimGeo__container .js-decidimgeo.decidimgeo__map {
  .leaflet-control.decidimGeo__filter {
    margin-bottom: 16px;
  }
  .decidimGeo__fitlerModal__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2500;
    display: flex;
    align-items: center;
    justify-content: center;
    &--closed {
      display: none;
    }
  }
  .decidimGeo__fitlerModal__form {
    flex: 1;

    max-height: 400px;
    background: white;
    border-radius: 8px;
    border-top: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;

    list-style: none;
    transition: 0.3s;
    background: white;
    margin: 48px 16px;
    padding: 32px;

    position: absolute;
    z-index: 9999;
    &--closed {
      display: none;
    }
    &--open {
      display: block;
    }
  }

  .decidimGeo__fitlerToggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    background: white;
    border-radius: 4px;
    padding: 4px;
    &--disabled .decidimGeo__fitlerToggle__button,
    &--disabled .decidimGeo__fitlerToggle__counter {
      opacity: 0.3;
      cursor: initial;
    }
  }

  .decidimGeo__fitlerToggle__button {
    @include decidimGeo__clickableText;
    padding: 8px;
    text-transform: uppercase;
    font-family: $header-font-family;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    color: #808080 !important;
  }

  .decidimGeo__fitlerToggle__counter {
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    display: flex;
    width: 20px;
    height: 20px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--primary);
    color: white;
    &--hidden {
      display: none;
    }
  }

  .decidimGeo__fitlerModal__fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 8px 8px;
    margin-bottom: 16px;
  }
  .decidimGeo__fitlerModal__field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .decidimGeo__fitlerModal__label {
    @include decidimGeo__clickableText;
    color: #1a181d !important;
    padding: 8px 16px 8px 8px;
    font-size: 14px;
    text-wrap: nowrap;
  }

  .decidimGeo__fitlerModal__select,
  .decidimGeo__fitlerModal__select:focus {
    margin-bottom: 0;
    max-width: 100%;
    border: 0;
    text-align: right;
    box-shadow: none;
    color: #1a181d;
  }
  .decidimGeo__fitlerModal__resetBtn,
  .decidimGeo__fitlerModal__applyBtn {
    @include decidimGeo__clickableText;
    padding: 8px 16px;
    letter-spacing: 0.2px;
    color: #3d393c;
    text-transform: uppercase;
  }
  .decidimGeo__fitlerModal__applyBtn {
    color: var(--primary);
    float: right;
  }
}
