.decidimGeo__customControl__parent {
    display: block;
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 8px;
    border-radius: 18px;
    border: 1px solid grey;
    color: grey;
}